<svg class="officeSVG" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="1920"
  height="1080" viewBox="0 0 507.99999 285.75001" version="1.1" id="svg8" inkscape:version="0.92.1 r15371"
  sodipodi:docname="offices.svg">
  <g inkscape:label="Calque 1" inkscape:groupmode="layer" id="layer1" transform="translate(0,-11.249983)">
    <a id="g222" xlink:href="#" xlink:title="Atelier">
      <g>
        <rect ry="16.341623" y="11.502405" x="331.41422" height="114.39136" width="174.7943" id="rect14-3-6" />
        <text id="text132" y="78.373512" x="404.11151"
          style="font-style:normal;font-weight:normal;font-size:5.64444444px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332;"
          xml:space="preserve">
          <tspan style="stroke-width:0.26458332;font-size:5.64444444px;" y="78.373512" x="404.11151" id="tspan130"
            sodipodi:role="line">Atelier </tspan>
          <tspan id="tspan134" style="stroke-width:0.26458332;font-size:5.64444444px;" y="91.602676" x="404.11151"
            sodipodi:role="line">B222-223</tspan>
        </text>
      </g>
    </a>
    <a id="g216" xlink:href="#" xlink:title="Bureau 240">
      <g>
        <rect ry="19.243406" y="162.02887" x="411.06049" height="134.70384" width="97.286102" id="rect14-7-5-3-5" />
        <text id="text138" y="244.08061" x="458.50916"
          style="font-style:normal;font-weight:normal;font-size:5.64444447px;line-height:1.25;font-family:sans-serif;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
          xml:space="preserve">
          <tspan style="font-size:5.64444447px;text-align:center;text-anchor:middle;stroke-width:0.26458332"
            y="244.08061" x="458.50916" id="tspan136" sodipodi:role="line">Bureau 240</tspan>
        </text>
      </g>
    </a>
    <a id="g211" xlink:href="#" xlink:title="Bureau 239">
      <g>
        <rect ry="19.243406" y="162.02887" x="274.21851" height="134.70384" width="136.842" id="rect14-7-5-3" />
        <text id="text138-6" y="241.3244" x="340.94772"
          style="font-style:normal;font-weight:normal;font-size:5.64444447px;line-height:1.25;font-family:sans-serif;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
          xml:space="preserve">
          <tspan style="font-size:5.64444447px;text-align:center;text-anchor:middle;stroke-width:0.26458332"
            y="241.3244" x="340.94772" id="tspan136-2" sodipodi:role="line">Bureau 239</tspan>
        </text>
      </g>
    </a>
    <a id="g206" xlink:href="#" xlink:title="Bureau 238">
      <g>
        <rect ry="19.243406" y="162.02887" x="137.37653" height="134.70384" width="136.842" id="rect14-7-5" />
        <text id="text138-6-9" y="236.51358" x="211.06577"
          style="font-style:normal;font-weight:normal;font-size:5.64444447px;line-height:1.25;font-family:sans-serif;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
          xml:space="preserve">
          <tspan style="font-size:5.64444447px;text-align:center;text-anchor:middle;stroke-width:0.26458332"
            y="236.51358" x="211.06577" id="tspan136-2-1" sodipodi:role="line">Bureau 238</tspan>
        </text>
      </g>
    </a>
    <a id="g195" xlink:href="#" xlink:title="Bureau 234">
      <g>
        <rect id="rect14-7" width="136.842" height="134.70384" x="0.53453809" y="162.02887" ry="19.243406" />
        <text id="text138-6-9-2" y="237.58264" x="69.941933"
          style="font-style:normal;font-weight:normal;font-size:5.64444447px;line-height:1.25;font-family:sans-serif;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
          xml:space="preserve">
          <tspan style="font-size:5.64444447px;text-align:center;text-anchor:middle;stroke-width:0.26458332"
            y="237.58264" x="69.941933" id="tspan136-2-1-7" sodipodi:role="line">Bureau 234</tspan>
        </text>
      </g>
    </a>
    <a id="g234" xlink:href="#" xlink:title="B 201">
      <g>
        <rect ry="15.807083" y="11.502405" x="165.70712" height="110.64958" width="165.70711" id="rect14-3" />
        <text id="text226" y="72.493584" x="223.43732"
          style="font-style:normal;font-weight:normal;font-size:5.64444447px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
          xml:space="preserve">
          <tspan style="font-size:5.64444447px;stroke-width:0.26458332" y="72.493584" x="223.43732" id="tspan224"
            sodipodi:role="line">B 201</tspan>
          <tspan id="tspan228" style="font-size:5.64444447px;stroke-width:0.26458332" y="79.549133" x="223.43732"
            sodipodi:role="line">Salle de serveurs</tspan>
        </text>
      </g>
    </a>
    <a id="g243" xlink:href="#" xlink:title="Bureau 241">
      <g>
        <rect ry="15.807083" y="11.502405" x="2.1381867" height="110.64958" width="163.56894" id="rect14" />
        <text id="text238" y="73.028114" x="55.057522"
          style="font-style:normal;font-weight:normal;font-size:5.64444447px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
          xml:space="preserve">
          <tspan style="font-size:5.64444447px;stroke-width:0.26458332" y="73.028114" x="55.057522" id="tspan236"
            sodipodi:role="line">Bureau 241</tspan>
        </text>
      </g>
    </a>
  </g>
</svg>
